@font-face {
  font-family: "Ligconsolata-Regular";
  src: url("Ligconsolata-Regular.ttf") format("truetype");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

html,
body {
  padding: 0;
  margin: 0rem;
  overflow-x: hidden;
  height: auto;
}

img {
  max-width: 100%;
  height: auto;
}

:root {
  --dominant-color: #717d6c;
  --secondary-color: #e0d8cf;
  --background-color: white;
  --accent-color-1: #000000;
  --accent-color-2: #a5a5a5;
}

li {
  list-style: none;
}

a,
p,
span {
  text-decoration: none;
  color: var(--accent-color-1);
  font-size: 1.5rem;
  font-family: "Ligconsolata-Regular";
}

p {
}

h2 {
  font-size: 3.5rem;
}

.header-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  height: 68px;
  margin-bottom: 2rem;
}

.mobile-menu-container {
  display: none;
}

.logo {
  width: 10rem;
}

.logo-container {
  flex: 2;
  margin: 2rem 0rem 2rem 2rem;
}

.navigation-container {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex: 1 1 200px;
  flex-wrap: wrap;
  margin: 2rem 2rem 2rem 0rem;
}

.unlisted-nav {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.listed-nav {
  text-align: center;
  padding: 1rem 2rem;
  margin-left: 1rem;
  border: 1px solid transparent;
}

.listed-nav:hover {
  border: 1px solid var(--dominant-color);
  border-radius: 5rem;
}

/* homepage */

.image-container,
.p-toggle-container,
.circle,
.toggle-container,
.home-container,
.about-container,
.inner-three-container,
.p-container,
.contact-details-container,
.contact-container,
.contact-right,
.contact-left {
  position: relative;
  display: flex;
  justify-content: center;
  /* flex-direction: column; */
}

.home-container {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 15rem;
  height: 580px;
}

.image-container {
  margin-bottom: 2rem;
}

.shandennruss {
  width: 30rem;
  min-width: 25%;
  -webkit-box-shadow: 7px 11px 8px -2px var(--accent-color-2);
  box-shadow: 7px 11px 8px -2px var(--accent-color-2);
}

.toggle-container {
  flex-direction: column;
}

.p-toggle-container {
  margin-bottom: 3rem;
  align-items: center;
}

.p-toggle,
.p-toggle-long {
  position: relative;
  border-radius: 5rem;
  padding: 1rem 5rem 1rem 2rem;
  border: 1px solid transparent;
  background: var(--accent-color-1);
  color: var(--background-color);
  transition: all 800ms ease;
  overflow: hidden;
}

@keyframes transitionIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.p-toggle-long {
  padding: 1rem 2rem 1rem 5rem;
  content: "long";
  opacity: 1;
}

.circle,
.circle-moved {
  position: absolute;
  border-radius: 5rem;
  width: 26px;
  height: 26px;
  left: 51.3%;
  background: var(--secondary-color);
  /* border: 1px solid var(--secondary-color); */
  transition: all 800ms ease;
  cursor: pointer;
}

.circle-moved {
  left: 47%;
  transition: all 800ms ease;
  background-color: var(--dominant-color);
}

/* about */

.about-para {
  width: 60%;
  line-height: 2.25rem;
}

.about-para.long {
  margin-top: 1rem;
}

.about-para.blog {
  color: var(--dominant-color);
  font-weight: 700;
}

.about-para.blog:hover {
  text-decoration: underline;
}

.dev {
  font-family: "Anonymous Pro", monospace;
  overflow: hidden;
  border-right: 2px solid rgba(0, 0, 0, 0.75);
  white-space: nowrap;
  width: 16%;
  animation: typewriter 6s steps(15) infinite normal both,
    blinkTextCursor 500ms steps(15) infinite normal;
  display: inline-flex;
}

@keyframes typewriter {
  10% {
    width: 0ch;
  }

  0% {
    width: 15ch;
  }
}

@keyframes blinkTextCursor {
  from {
    border-right-color: 2px solid rgba(0, 0, 0, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}

/* projects */

.inner-three-container {
  background-color: var(--secondary-color);
  flex-direction: column;
  align-items: center;
  height: 800px;
  overflow: hidden;
}

.three {
  font-size: 22rem;
  -webkit-text-stroke: 1px var(--dominant-color);
  -webkit-text-fill-color: transparent;
}

.three.one {
  animation: flash 2s linear infinite;
}
.three.two {
  animation: flash 1s linear infinite;
}
.three.four {
  animation: flash 2s linear infinite;
  transition: all 1s ease;
}

@keyframes flash {
  0% {
    -webkit-text-fill-color: transparent;
    opacity: 0.9;
  }
  20% {
    -webkit-text-fill-color: transparent;
    opacity: 0.6;
  }
  60% {
    -webkit-text-fill-color: transparent;
    opacity: 0.4;
  }
  80% {
    -webkit-text-fill-color: transparent;
    opacity: 0;
    transition-delay: 2s;
  }
}

.p-image-container {
  margin-left: 2rem;
  display: flex;
  justify-content: center;
}

.project-img {
  width: 600px;
  border: 1px solid black;
  -webkit-box-shadow: 7px 11px 8px -2px var(--accent-color-2);
  box-shadow: 7px 11px 8px -2px var(--accent-color-2);
}

.p-container {
  min-height: 569px;
  margin: 2rem;
  border-bottom: 1px solid var(--accent-color-2);
  align-items: center;
  flex-wrap: wrap;
}

.p-details-container,
.single-project-container {
  flex: 1;
  margin: 0rem 2rem 0 4rem;
  height: 336px;
}

.p-service-container {
  margin-top: 1rem;
}

.p-summary-container {
  margin: 30px 0 115px 0;
}

.p-summary {
  line-height: 2.25rem;
}

.p-button-container,
.contact-button-container {
  margin-top: 3rem;
}

.actions-container {
  display: flex;
  justify-content: space-between;
  flex-basis: 20%;
  margin-top: 2rem;
  align-items: baseline;
}

.p-button,
.visit-web,
.contact-button {
  padding: 1rem 2rem;
  border: 1px solid var(--dominant-color);
  border-radius: 5rem;
  position: relative;
  background-color: transparent;
}

.p-button:hover,
.visit-web:hover,
.contact-button:hover {
  background-color: var(--dominant-color);
  transition: background-color 250ms ease-in;
}

.p-container:nth-child(4) {
  border-bottom: none;
}

/* Project Details */

.three.title {
  height: inherit;
  display: flex;
  align-items: center;
  animation: flash 1500ms linear infinite;
}

.p-description-container {
  height: 720px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.single-detail-container {
  height: 520px;
  flex: 1.5;
  margin-right: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.subtitle {
  line-height: 2.25rem;
}

.individial-img-container {
  flex: 1;
  display: flex;
  justify-content: center;
}

.individual-img {
  width: 300px;
}

.more-info-container {
  margin-top: 2rem;
  line-height: 2.25rem;
}

.more-info.two {
  margin-top: 2rem;
}

.visit-web {
  cursor: pointer;
}

.fa.fa-angle-double-right {
  font-size: 3.5rem;
}

.arrow {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin-right: 2rem;
}

.arrow.container .fa.fa-angle-double-right:hover {
  color: var(--dominant-color);
  transition: all 200ms ease-in;
  transform: translateX(2px);
}

.arrow.container {
  display: flex;
  flex-direction: column;
}

/* Contact */

.contact-details-container {
  height: 730px;
  align-items: center;
  flex-direction: column;
}

.w-t-container {
  display: flex;
  align-items: flex-end;
}

.contact-summary-container {
  margin-top: 2rem;
}

.fa.fa-copyright {
  font-size: 1.5rem;
}

.copy-right {
  display: flex;
}

.definition {
  margin-top: 1rem;
  font-size: 1.3rem;
}

/* footer */

.footer-container {
  display: flex;
  border-top: 1px solid grey;
  height: 68px;
  align-items: center;
  justify-content: space-between;
  margin: 0rem 2rem;
}

/* Contact Details */

.contact-container {
  height: 630px;
  animation: transitionIn ease-in 800ms;
  margin: 0 2rem;
  overflow: hidden;
}

.contact-left {
  flex: 1;
  align-items: center;
}

.contact-header {
  font-size: 10rem;
  width: 90%;
  text-align: center;
  color: var(--background-color);
}

.blob {
  position: absolute;
  top: 0;
  left: 0;
  fill: var(--secondary-color);
  width: 50vmax;
  z-index: -1;
  animation: move 10s ease-in-out infinite;
  transform-origin: 50% 50%;
}

@keyframes move {
  0% {
    transform: scale(1) translate(10px, 30px);
  }
  38% {
    transform: scale(0.8, 1) translate(0vw, 30vh) rotate(160deg);
  }
  40% {
    transform: scale(0.8, 1) translate(0vw, 30vh) rotate(160deg);
  }
  78% {
    transform: scale(1.3) translate(0vw, 30vh) rotate(-20deg);
  }
  80% {
    transform: scale(1.3) translate(0vw, 30vh) rotate(-20deg);
  }
  100% {
    transform: scale(1) translate(10px, 30px);
  }
}

.contact-right {
  flex: 1;
  flex-direction: column;
}

.contact-paragraph {
  line-height: 2.25rem;
  position: relative;
  display: flex;
  padding-bottom: 2rem;
  flex-direction: column;
}

@media (max-width: 768px) {
  h2 {
    font-size: 3rem;
  }
  .logo {
    width: 8rem;
  }

  .header-container {
    margin-bottom: 1rem;
  }

  .p-toggle-container {
    margin-bottom: 2rem;
  }

  .mobile-menu-container {
    display: flex;
    align-items: center;
    z-index: 2;
    margin: 2rem 2rem 2rem 0rem;
  }

  .navigation-container {
    display: none;
  }

  .mobile-navigation-container {
    display: flex;
    position: fixed;
    z-index: 1;
    height: 100vh;
    width: 100%;
    background-color: var(--secondary-color);
  }
  .mobile-unlisted-nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .mobile-nav {
    font-size: 3rem;
  }

  .mobile-nav:hover {
    color: white;
  }

  .home-container {
    margin-top: 2rem;
    height: unset;
  }

  .shandennruss {
    width: 25rem;
  }

  .circle {
    left: 54%;
  }

  .circle-moved {
    left: 39%;
  }

  .three {
    font-size: 6rem;
  }

  .inner-three-container {
    height: 700px;
  }

  .about-para,
  .about-para.long {
    width: unset;
    margin: 0rem 2rem 2rem 2rem;
  }

  .p-image-container {
    margin-left: unset;
  }

  .p-details-container {
    margin: unset;
  }

  .p-summary-container {
    margin: 2rem 0rem;
  }

  .contact-details-container {
    height: 600px;
    margin: 0rem 2rem;
  }

  .three.title {
    white-space: pre-wrap;
    font-size: 6rem;
  }

  .p-description-container {
    flex-direction: column;
    flex-wrap: unset;
    height: unset;
  }

  .single-detail-container {
    margin: 2rem;
  }

  .individial-img-container {
    width: 500px;
    margin-top: 2rem;
  }
  .individual-img {
    width: 40%;
  }

  .contact-container {
    display: flex;
    flex-direction: column;
  }

  .contact-header {
    font-size: 5rem;
  }

  .blob {
    position: absolute;
    top: 0;
    left: 0;
    fill: var(--dominant-color);
    width: 60vmax;
    z-index: -1;
    animation: roll 10s ease-in-out infinite;
    transform-origin: 60% 60%;
  }

  @keyframes roll {
    0% {
      transform: scale(1) translate(-55px, -260px);
    }
    38% {
      transform: scale(0.8, 1) translate(0vw, 30vh) rotate(160deg);
    }
    40% {
      transform: scale(0.8, 1) translate(0vw, 30vh) rotate(160deg);
    }
    78% {
      transform: scale(1.3) translate(0vw, 30vh) rotate(-20deg);
    }
    80% {
      transform: scale(1.3) translate(0vw, 30vh) rotate(-20deg);
    }
    100% {
      transform: scale(1) translate(-55px, -260px);
    }
  }
}
